# Phonos Turntable Bridge Configuration

# Turntable MAC Address
TURNTABLE_MAC=AD:60:17:9B:D5:AC

# Icecast2 Security
ICECAST_SOURCE_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=hackme

# Home Assistant & Sonos Integration
HASS_URL=http://homeassistant.local:8123
HASS_TOKEN=
SONOS_ENTITY_ID=media_player.menjador_sonos_2
SONOS_STREAM_URL=http://192.168.1.39:8080/sonos.mp3
